@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

header {
	background: black;
	position: sticky;
	top: 0;
} footer {
	background: black;
	padding: 6px 8px;
}

ul {
	list-style: none;
	padding: 0;
}

.projetos div {
	background: #444444;
	padding: 3px 5px;
	transition-duration: 0.2s;
} .projetos div:hover {
	background: black;
}

/* Navbar */
nav, ul {
	display: flex;
	flex-direction: row;
	padding: 0 11px;
} nav a {
	color: white;
	text-decoration: none;
	padding: 3px 5px;
	border-radius: 4px;
	cursor: pointer;
	transition-duration: 0.3s;
} nav a:hover {
	color: #BABABA;
	background: #111111;
} nav a:active {
	color: #222222;
	background: black;
} .logo {
	font-size: 22px;
} nav {
	padding: 8px 6px;
	justify-content: space-between;
}

/* Corpo do site */
body {
	color: white;
}

/* Parte principal do site */
main {
	background: #111a11;
}
