@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$main-color0: #efffa7;
$main-color1: #e0d084; // Cor reversa de: #ccdf86
$main-color2: #a9bf65;
$main-color3: #7d722b; // Cor reversa de: #869e44
$main-color4: #627e23;

* {
  margin:  0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16pt;
  background: $main-color0;
  font-family: "Montserrat", "sans-serif";
}

body::-webkit-scrollbar {
  display: none;
}

.bloco {
  padding: 14px;
  margin: 8px;
  background: $main-color3;
  border-radius: 10px;
  color: white;

  ul {
    padding: 7px;
    font-size: 14.8pt;
  }

  a {
    color: #cccccc;
    text-decoration: none;
  } a:hover {
    color: $main-color1;
    text-decoration: underline;
    transition-duration: 0.5s;
  }
}

.titulo {
   font-family: "Ubuntu", "sans-serif"; 
   font-weight: 700;
   text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 100vw;
  }
}


#sobre {
  display: grid;
  grid-template-columns: 60vw 40vw;


  #minha-imagem {
    background: $main-color4;
    border-radius: 10px;
    margin: 5px;
  }

  img {
    width: 20%;
  }
}

ul {
   list-style: none;
}

@media (max-width: 600px) {
  #sobre {
    display: grid;
    grid-template-columns: 100vw;
  }
}

header {
  background: $main-color4;
  padding: 16px;
  color: white;

  h1 {
    padding: 3px;
    padding-bottom: 12px;
  }

  a {
    color: black;
    text-decoration: none;
  } a:hover {
    color: white; 
    text-decoration: underline; 
    transition-duration: 0.2s;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
  
      li {
      background: $main-color2;
      padding: 7px;
      border-radius: 5px;
      margin-left:  15px;
      margin-right: 15px;
      } li:hover {
        background: $main-color3;
        color: white;
        transition-duration: 0.2s;
      }
    }
  }
}

footer {
  background: $main-color4;
  padding: 16px;
  color: white;
  text-align: center;
  font-size: 20pt;

  hr {
    color: white;
    margin: 5px;
  }
  a {
    color: #cccccc;
    text-decoration: none;
  } a:hover {
    color: #969696;
    text-decoration: underline;
    transition-duration: 0.3s;
  }
}
