/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
   margin:  0;
   padding: 0;
}

body {
   font-size:  14pt;
   background: #585858;
}

h1 {
   font-size: 35pt;
}

h2 {
   font-size: 18pt;
}


/* Footer e Heading */
header {
   background: black;
   padding: 2px;
}
footer {
   color: white;
   background: black;
   padding: 2px;
}

/* Mensagem de direitos reservados */
p#copyright {
   font-size: 11pt;
   color: white;
   padding-left: 12px;
}
p#copyright:hover {
   font-size: 12pt;
   color: #AAAAAA;
   transition-duration: 0.2s;
}

/* Titulo do inicio da página */
.titulo {
   color: #59ff52;
   font-family: "Ubuntu";
}
.titulo:hover {
   color: #f952ff;
   transition-duration: 0.4s;
}

/* Listas de informações */
ul {
   padding-top:    5px;
   padding-bottom: 5px;
   font-family:    "Ubuntu";
   color: white;
}
ul li {
   padding-left: 14px;
   padding-bottom: 4px;
}
